body {
    font-family: Arial, sans-serif;
    background-color: #EEEEEE;
    margin: 0;
    padding: 0;
}

header {
    text-align: center;
    background-color: #EEEEEE;
    color: Black;
    padding: 20px 0;
}

nav ul {
    list-style-type: none;
    padding: 0;
}

.button-container {
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-top: 10px;
}

.button-container li {
    display: inline-block;
}

.button {
    text-decoration: none;
    color: white;
    background-color: #2F9311;
    padding: 10px 20px;
    border-radius: 5px;
    transition: background-color 0.3s;
}

.button:hover {
    background-color: #0B750F;
}

.content {
    text-align: center;
    margin: 20px;
}

ul {
    list-style-type: none;
    padding: 0;
}

ul li {
    margin: 10px 0;
}
